.nameInput,
.emailInput,
.passwordInput {
	width: 90%;
	margin-top: 20px !important;
}

.registerBox {
	text-align: center;
	background-color: rgb(255, 255, 255);

	/* centered the register box horizontally and vertically */
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 400px;
	height: 550px;
	padding: 50px;
	padding-top: 50px;
	border: 1px solid rgb(228, 228, 228);
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.082) 1px 1px 25px 5px;
}

/* used !important to overwrite default config set by MaterialUI */
.registerButton {
	background-color: rgb(0, 201, 115) !important;
	margin-top: 40px !important;
	margin-bottom: 40px !important;
	border-radius: 25px !important;
	width: 90%;
}

/* removed the blue underline applied to links */
.loginLink {
	text-decoration: none !important;
}

.registerHeading {
	margin-top: 20px;
	color: rgb(73, 68, 68);
}

/*references:

https://www.w3schools.com/css/css_align.asp

*/
